.navbar {
    
    justify-content: space-evenly ;
}
a {
    text-decoration: none;
    color: black;
    background-color: aqua;
}
div {
    display: flex;
    border: 1px solid black;
    justify-content: center;
  
    background-color: pink;
}
li
{
    list-style: none;
    display: inline;
}