*{
    margin:0px;
    font-family: Arial;
    border:border-box;
    font-size: 14px;
    
}

/* Navbar */

.navbar {

    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border{
    border:2px solid transparent;  


}
.border:hover{
    border:2px solid white;
}  

/* Box-1 */

.nav-logo {
    height:50px;
    width:113px;
}
.logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

/* Box-2 */


.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:12px;
}

.add-icon {
   display: flex;
   align-items: center;
}
.add-sec {
   font-size: 1rem;
   margin-left:3px;
}
/* Box 3 */
.nav-search {
    display: flex;
    background-color: rgb(252, 25, 203);
    width: 50%;
    height: 40px;
    border-radius: 4px;
    border:none;
    justify-content: space-evenly;
    
    
}
.nav-search:hover{
    border : 2px solid orange;
}
.search-select{
    width: 50px;
    text-align: center;
    background-color: #e6e6e6;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-bar{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-bar:focus{
    outline: none;
}
.search-icon{
   width: 45px;
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f2be6a;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* Box 4 */
.lang{
    display: flex;
}
.flag{
    width: 21px;
    height: 16px;
    background-image: url(america.jpg);
    background-size: cover;
}
.lang-select{
    font-size: 0.85rem;
    background-color: transparent;
    color: bisque;
    border: none;
}
.nav-signin{
    
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
/* Box 5 */
span{
    font-size: 0.7rem;
    
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box 6 */

.nav-cart {
    font-size: 0.85rem;
}

.nav-cart i {
   font-size: 35px;
   font-weight: 700;
}

/* Panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color : white;
    align-items: center;
    justify-content: space-evenly;

}

/* Panel All */

/* Panel Options */

.panel-ops {
width: 93%;
}

.panel-ops p {
    display: inline;
    margin-right: 15px;
    
}

/* Hero Section */

.hero-section{
    display: flex;
    background-image: url(hero_image.jpg);
    height: 330px;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
}
/* hero Message */

.hero-msg{
    display: flex;
    justify-content: center;
    height:40px;align-items: center;
    color: black;
    text-align: center;
    background-color: #f5f6f6;
    font-size: 0.85rem;
    width: 97%;
    margin-top: 250px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}
